@model IEnumerable<SiteTracing.Models.ViewModels.TraceDetailsVM>

@{
    ViewBag.Title = "Tracert Route";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>
    $(document).ready(function () {
        $.getJSON("/Home/GetDataForGraph", function (data) {
            var Ip = []
            var Ping = []
            for (var i = 0; i < data.length; i++) {
                Ip.push(data[i].ip);
                Ping.push(data[i].ping);
            }

            Highcharts.chart('container', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Trace route'
                },
                xAxis: {
                    categories: Ip
                },
                yAxis: {
                    title: {
                        text: 'Response time'
                    }
                },
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        }
                    }
                },
                series: [{
                    name: 'Trend',
                    data: Ping
                }]
            });
        });
    });
</script>

<hr />

<table class="table table-striped table-bordered table-sm">

    <thead>
        <tr>
            <th>Ip addres with slowest ping</th>
            <th>@Html.DisplayNameFor(model => model.Ping)</th>
        </tr>
    </thead>

    <tr>
        <td>@Model.ToArray().OrderBy(x => x.Ping).ToList().Last().Ip</td>
        <td>@Model.ToArray().OrderBy(x => x.Ping).ToList().Last().Ping</td>
    </tr>

    <!-- --- -->

    <tr>
        <th>Ip addres with fastest ping</th>
        <th></th>
    </tr>

    <tr>
        <td>@Model.ToArray().OrderBy(x => x.Ping).ToList().First().Ip</td>
        <td>@Model.ToArray().OrderBy(x => x.Ping).ToList().First().Ping</td>
    </tr>

    <!-- --- -->

    <tr>
        <th>@Html.DisplayNameFor(model => model.Ip)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Ip)</td>
            <td>@Html.DisplayFor(modelItem => item.Ping)</td>
        </tr>
    }

</table>